google-sheet-to-crm.json
{
  "name": "Google Sheet to Lead Ingestion API",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1lUGM3NqeNThqM6PBpHPfibc7okPZgfI3v-aDElYVoKc",
          "mode": "list",
          "cachedResultName": "Lead_Ingestion_System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lUGM3NqeNThqM6PBpHPfibc7okPZgfI3v-aDElYVoKc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lUGM3NqeNThqM6PBpHPfibc7okPZgfI3v-aDElYVoKc/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "eb3b39d7-4317-4b8a-9f67-e4c43da703fc",
      "name": "Watch for New Leads",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        256,
        304
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "gci1B4YLQ07EvRyz",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cc2b-106-51-198-233.ngrok-free.app/api/leads/ingest",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.Name }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.Phone }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.Timestamp }}"
            },
            {
              "name": "leadSource",
              "value": "={{ $json['Lead Source'] }}"
            },
            {
              "name": "city",
              "value": "={{ $json.City }}"
            },
            {
              "name": "state",
              "value": "={{ $json.State }}"
            },
            {
              "name": "metadata",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "746b5adc-2a11-4add-aba8-507fe2933a5c",
      "name": "Send to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8ec9fc51-11a2-4022-bbce-768d11eb04fc",
              "leftValue": "={{ $json.Name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "05b92e8c-ee5d-43df-aa1c-af68cb0d509d",
              "leftValue": "={{ $json.Phone }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0d837452-2d74-421b-9663-5c49cbdec1c6",
              "leftValue": "={{ $json.Timestamp }}",
              "rightValue": "",
              "operator": {
                "type": "dateTime",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "9717a551-556f-4bb0-82d4-9b19d9a803e4",
              "leftValue": "={{ $json['Lead Source'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5483487a-cf7b-420c-aa70-2f6222dad875",
              "leftValue": "={{ $json.City }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e5991576-cb52-4531-a08c-56a561920d81",
              "leftValue": "={{ $json.State }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        464,
        304
      ],
      "id": "648acf4b-fef2-4119-a73c-7243c02189b8",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "Watch for New Leads": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Send to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "availableInMCP": false
  },
  "versionId": "1805c37f-aaed-4291-9202-b871de353cf3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "591592bc48204cf25195db53357771d01cfef8fd752302839fb6dc6659305dc5"
  },
  "id": "rLhqS4Buu13J8rR0",
  "tags": []
}